language: generic
os: linux
matrix:
  include:
    - os: linux
      env: COMPILER_NAME=clang CXX=clang++-3.8 CC=clang-3.8
      addons:
        apt:
          packages:
            - clang-3.8
          sources: *sources
script: cmake -DCMAKE_BUILD_TYPE=Release && make
